<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div class="mainBox">
    <h2>About</h2>
    <p>
        This app was build as a fun way to compare rowing distances between myself and my husband, as well as to practice my Django skills.
    </p>
    <h2>Technical Details</h2>
    <p>
        Built on Django (Python) and utilizing Bootstrap and Jquery on the front end. We use PhantomJS for webscraping in order to gather data from the Concept2 Logbook (No API sad :().
    </p>
    <p>
        Please see the complete write-up on <a href="https://christinab.dev/portfolio" target="_blank">my personal website</a>
    </p>
    <p>
        Code is open source and is available for review at <a href="https://github.com/christinabranson/concept2-data" target="_blank">Github</a>
    </p>
    <h2>Credits</h2>
    <ul>
    <li>
        Background by <a href="http://pixeljoint.com/pixelart/49906.htm" target="_blank">inphy</a>
    </li>
</ul>
    </p>
</div>
{% endblock %}